<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GROUP_MISC_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Upcoming trips</string>
			<key>Key</key>
			<string>upcoming_trips</string>
			<key>DefaultValue</key>
			<string>N7</string>
			<key>Titles</key>
			<array>
				<string>Next trip only</string>
				<string>Starting within 7 days</string>
				<string>Starting within 30 days</string>
				<string>Next + within 7 days</string>
				<string>Next + within 30 days</string>
			</array>
			<key>Values</key>
			<array>
				<string>N</string>
				<string>7</string>
				<string>30</string>
				<string>N7</string>
				<string>N30</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>GROUP_NTF_FOOTER</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GROUP_NTF_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Before trip</string>
			<key>Key</key>
			<string>trip_notification_leadtime</string>
			<key>DefaultValue</key>
			<integer>24</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>6 hours</string>
				<string>12 hours</string>
				<string>24 hours</string>
				<string>2 days</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>6</integer>
				<integer>12</integer>
				<integer>24</integer>
				<integer>48</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Before departure</string>
			<key>Key</key>
			<string>dept_notification_leadtime</string>
			<key>DefaultValue</key>
			<integer>240</integer>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>30 minutes</string>
				<string>1 hour</string>
				<string>2 hours</string>
				<string>4 hours</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>120</integer>
				<integer>240</integer>
			</array>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>15 minutes</string>
				<string>30 minutes</string>
				<string>45 minutes</string>
				<string>1 hour</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Before next leg</string>
			<key>Key</key>
			<string>leg_notification_leadtime</string>
			<key>DefaultValue</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>15 minutes</string>
				<string>30 minutes</string>
				<string>45 minutes</string>
				<string>1 hour</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>45</integer>
				<integer>60</integer>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Before event</string>
			<key>Key</key>
			<string>event_notification_leadtime</string>
			<key>DefaultValue</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>GROUP_UPD_NTF_FOOTER</string>
			<key>Title</key>
			<string>GROUP_UPD_NTF_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>NTF_SOUND_NEVER</string>
				<string>NTF_SOUND_1WEEK</string>
				<string>NTF_SOUND_1MONTH</string>
				<string>NTF_SOUND_ALWAYS</string>
			</array>
			<key>Values</key>
			<array>
				<string>N</string>
				<string>1W</string>
				<string>1M</string>
				<string>A</string>
			</array>
			<key>Title</key>
			<string>NTF_SOUND_LABEL</string>
			<key>Key</key>
			<string>mute_notification_sound</string>
			<key>DefaultValue</key>
			<string>1W</string>
		</dict>
	</array>
</dict>
</plist>
