<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHiTNotification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>mySHiT-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mySHiT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85F02B261EBA09ED00E0C305</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85FEFC3A1BC7FCF800D8E38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85FEFC4E1BC7FCF900D8E38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85FEFC591BC7FCF900D8E38E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
